/* Ensure the parent container takes full height */
.full-height {
  height: 90vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#F5F5F5; /* Light blue-grey background */
  font-family: Arial, sans-serif;
  
}

.stylescontainer {
  max-width: 200px; /* Set a reasonable max width */
  width: 40%; /* Make the container flexible */
  padding: 50px; /* Reasonable padding */
  border: 1px solid #ccc;
  border-radius: 8px; /* Adjusted to a reasonable value */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.bengurionlogo {
  text-align: left; 
  margin-bottom: 50px; 
  margin-left: -70px;
  margin-top: -80px;

}
.BenGurionimage{
  max-width: 300px; 
  width: 100%;
  height: auto;

}

.Tomatologo {
  text-align: center; 
  margin-bottom: -50px;
}

.Tomatoimage {
  max-width: 500px; 
  width: 100%; 
  height: auto; 
}

.stylestitle {
  text-align: center;
  color: #333;
  font-size: 1.5rem;
  font-style: italic; /* Adjusted font size */
}

.styleslabel {
  display: block;
  margin-bottom: 8px;
  color: #555;
  font-weight: 300;
  
}

.stylesinput {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.stylesinput::placeholder {
  color: #888;
}

.stylesbutton {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.stylesbutton:hover {
  background-color: #45a049;
}

.styleslink {
  margin-top: 10px;
  text-align: center;
  color: #777;
}

.styleslink a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.8rem; 
}

.styleslink a:hover {
  text-decoration: underline;
}
