.home-container {
    max-width: 2000px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .mop-container {
    margin-bottom: 30px;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease-in-out; /* Adding a subtle box-shadow transition */
    margin-top: 35px;
    font-size: 1.5rem;
  }
  
  .mop-container:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding a box-shadow on hover */
  }
  
  .mop-title {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }
  
  .mop-description {
    margin-top: 10px;
    color: #666;
  }

.learn-more-link {
  display: inline-block;
  margin-top: 20px;
  color: #007bff;; /* Ensure the link color is black */
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  transition: color 0.3s ease-in-out; 
}

.learn-more-link:hover {
  text-decoration: underline;
  color: #0056b3;
}

body {
  background-color:#F5F5F5; /* Light blue background */
}

.scroll-about-us{
  display: inline-block;
  margin-top: 20px;
  color:  #007bff; 
  text-decoration: underline;
}
.scroll-about-us:hover {
  text-decoration: underline;
  color: #0056b3;
}

.about-us-section{
  display: inline-block;
  margin-top: 10px;
  color: black;
  height: 50vh;
}
